<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Get in touch with us</h5>
          <address>
            <strong>Ovatech Global Resources</strong><br>
            Shop X, Industrial Park<br>
            Opposite Shagari Estate<br>
            Akure, Nigeria.
          </address>
          <p>
            <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
            <i class="icon-envelope-alt"></i> enquiries@ovatechgr.com
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <h4 class="text-left">Locate Us</h4>
        <iframe
        width="200"
        height="200"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCK4A2GUKhzcS7y43Fhonr8PVob1I3cd_4&q=Akure" allowfullscreen>
        </iframe>
      </div>
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Pages</h5>
          <ul class="link-list">
            <li><%= link_to 'Food Services', services_path %></li>
            <li><%= link_to 'Machine Design', services_path %></li>
            <li><%= link_to 'Machine Fabrication', services_path %></li>
            <li><%= link_to 'Plant Layout & Machine Installation', services_path %></li>
            <li><%= link_to 'Ova Pixels', services_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Latest posts</h5>
          <ul class="link-list">
            <li><%= link_to 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', blog_path %></li>
            <li><%= link_to 'Pellentesque et pulvinar enim. Quisque at tempor ligula', blog_path %></li>
            <li><%= link_to 'Natus error sit voluptatem accusantium doloremque', blog_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="copyright">
            <p>
              <span>&copy; <%= link_to 'Ovatech Global Resources', root_path %>.  <%= Time.zone.now.year %>. All rights reserved.</span>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="social-network">
            <li>
              <%= link_to '', title: 'Facebook', data: {placement: 'top'} do %>
                  <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li>
              <%= link_to '', title: 'Twitter', data: {placement: 'top'} do %>
                  <i class="fa fa-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to '', title: 'Linkedin', data: {placement: 'top'} do %>
                  <i class="fa fa-linkedin"></i>
              <% end %>
            </li>
            <li>
              <%= link_to '', title: 'Google+', data: {placement: 'top'} do %>
                  <i class="fa fa-google-plus"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>